In [2]:
import pandas as pd
import os

df = pd.DataFrame()
for root, directories, filenames in os.walk('data'):
    for filename in filenames:
        fpath = os.path.join(root,filename)
        if (fpath[-4:] == 'json'):
            df_to_concat = pd.read_json(fpath)
            df = pd.concat([df, df_to_concat], ignore_index=True, join='outer')

In [3]:
df = df.sort_values(['date', 'page']).reset_index(drop=True)
df

             date  page                                               link
0        20130101     1  https://news.ltn.com.tw/news/society/breakingn...
1        20130101     1  https://news.ltn.com.tw/news/life/breakingnews...
2        20130101     1    https://ent.ltn.com.tw/news/breakingnews/745944
3        20130101     1    https://ent.ltn.com.tw/news/breakingnews/745942
4        20130101     1  https://news.ltn.com.tw/news/life/breakingnews...
...           ...   ...                                                ...
4117630  20230930    57  https://ec.ltn.com.tw/article/breakingnews/444...
4117631  20230930    57  https://sports.ltn.com.tw/news/breakingnews/44...
4117632  20230930    57  https://news.ltn.com.tw/news/society/breakingn...
4117633  20230930    57  https://news.ltn.com.tw/news/society/breakingn...
4117634  20230930    57  https://news.ltn.com.tw/news/society/breakingn...

[4117635 rows x 3 columns]

In [7]:
df = df.drop_duplicates()

In [8]:
df.to_parquet("ltn_links.parquet")

/Users/ethanelasky/anaconda3/lib/python3.11/site-packages/pyarrow/pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [10]:
pd.read_parquet("ltn_links.parquet")['link'].values

array(['https://news.ltn.com.tw/news/society/breakingnews/745948',
       'https://news.ltn.com.tw/news/life/breakingnews/745947',
       'https://ent.ltn.com.tw/news/breakingnews/745944', ...,
       'https://news.ltn.com.tw/news/society/breakingnews/4443837',
       'https://news.ltn.com.tw/news/society/breakingnews/4443830',
       'https://news.ltn.com.tw/news/society/breakingnews/4443833'],
      dtype=object)