In [2]:
import pandas as pd
import os

df = pd.DataFrame()
for root, directories, filenames in os.walk('data'):
    for filename in filenames:
        fpath = os.path.join(root,filename)
        if (fpath[-4:] == 'json'):
            df_to_concat = pd.read_json(fpath)
            df = pd.concat([df, df_to_concat], ignore_index=True, join='outer')

In [3]:
df = df.sort_values(['date', 'page']).reset_index(drop=True)
df

             date  page                                               link
0        20130101     1  https://news.ltn.com.tw/news/society/breakingn...
1        20130101     1  https://news.ltn.com.tw/news/life/breakingnews...
2        20130101     1    https://ent.ltn.com.tw/news/breakingnews/745944
3        20130101     1    https://ent.ltn.com.tw/news/breakingnews/745942
4        20130101     1  https://news.ltn.com.tw/news/life/breakingnews...
...           ...   ...                                                ...
4117630  20230930    57  https://ec.ltn.com.tw/article/breakingnews/444...
4117631  20230930    57  https://sports.ltn.com.tw/news/breakingnews/44...
4117632  20230930    57  https://news.ltn.com.tw/news/society/breakingn...
4117633  20230930    57  https://news.ltn.com.tw/news/society/breakingn...
4117634  20230930    57  https://news.ltn.com.tw/news/society/breakingn...

[4117635 rows x 3 columns]

In [7]:
df = df.drop_duplicates()

In [8]:
df.to_parquet("ltn_links.parquet")

/Users/ethanelasky/anaconda3/lib/python3.11/site-packages/pyarrow/pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [1]:
import pandas as pd
df = pd.read_parquet("ltn_links.parquet")
df_of_2022 = df[(df['date'] >= 20220101) & (df['date'] < 20230101)]
df_of_2023 = df[df['date'] >= 20230101]

In [10]:
df_of_2022

             date  page                                               link
3389313  20220101     1  https://news.ltn.com.tw/news/politics/breaking...
3389314  20220101     1  https://news.ltn.com.tw/news/life/breakingnews...
3389315  20220101     1  https://news.ltn.com.tw/news/novelty/breakingn...
3389316  20220101     1  https://news.ltn.com.tw/news/politics/breaking...
3389317  20220101     1  https://news.ltn.com.tw/news/world/breakingnew...
...           ...   ...                                                ...
3769648  20221231    42            https://estate.ltn.com.tw/article/15393
3769649  20221231    42  https://news.ltn.com.tw/news/world/breakingnew...
3769650  20221231    42  https://news.ltn.com.tw/news/society/breakingn...
3769651  20221231    43  https://news.ltn.com.tw/news/world/breakingnew...
3769652  20221231    43  https://news.ltn.com.tw/news/politics/breaking...

[380340 rows x 3 columns]

In [2]:
df_of_2022.to_parquet('ltn_2022_links.parquet')

/Users/ethanelasky/anaconda3/lib/python3.11/site-packages/pyarrow/pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [18]:
df_of_2023.to_parquet('ltn_2023_links.parquet)')

In [20]:
df_of_2013_to_2021 = df_of_2023 = df[df['date'] < 20220101]

In [21]:
df_of_2013_to_2021.to_parquet('ltn_2013_2021_links.parquet')

/Users/ethanelasky/anaconda3/lib/python3.11/site-packages/pyarrow/pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):