In [3]:
from bs4 import BeautifulSoup
import glob
import numpy as np
import pandas as pd
import re
import sys

# Processing LT

In [4]:
df = pd.read_csv("ltn_2023_links_0_processed.csv", index_col=0)
df['date'] = pd.to_datetime(df['date'], format='mixed', errors='coerce')
df = df[~pd.isnull(df['date'])] # Dropped all articles with invalid dates, e.g. https://ec.ltn.com.tw/article/breakingnews/4175363, which has year -0001
df = df.sort_values("date")
df = df.drop_duplicates("title")

/var/folders/g_/c145jppj74d6_h68pzdpnpd80000gn/T/ipykernel_97606/3294988658.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['date'], format='mixed', errors='coerce')

In [53]:
dfs = []
for i in range(0, 6):
    dfs.append(pd.read_csv(f"ltn_2023_links_{i}_processed.csv", index_col=0))
dfs.append(pd.read_csv("ltn_2023_24_links_processed.csv", index_col=0))
df = pd.concat(dfs)

/var/folders/g_/c145jppj74d6_h68pzdpnpd80000gn/T/ipykernel_97606/2625881571.py:5: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(dfs)

In [65]:
import datetime
df['date'] = pd.to_datetime(df['date'], format='mixed', errors='coerce')
df = df[~pd.isnull(df['date'])] # Drop all articles with invalid dates, e.g. https://ec.ltn.com.tw/article/breakingnews/4175363, which has year -0001. All of these articles are entertainment section articles.
df = df.sort_values("date")
df = df.drop_duplicates("title")

In [72]:
from datetime import datetime
df = df[pd.to_datetime(df['date'], utc=True) < '2024-01-31 4:00']

In [75]:
df.to_parquet("lt_2023_contents.parquet")